.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #009f53;
  color: white;
  display: flex;
  text-decoration: none;
  justify-content: space-around;
  padding: 10px 0;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
}
  

  
